.contactListSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contactList {
  display: flex;
  gap: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 15px;
  font-size: 20px;
  border: 1px dotted rgb(184, 120, 120);
  border-radius: 25px;
  background-color: white;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
}

.button {
  background-color: orangered;
  border: none;
  border-radius: 25px;
  padding: 2px 25px;
  color: white;
  font-size: 15px;
}
